<!-- CODE FOR REDDIT PAGE SIDEBAR -->
<div class="reddit_sidebar">
        <div class="reddit_sidebar_flex">
            <div class="sidebar_item_container">
                <div style="padding: 12px;">
                    <div id='sidebar-home-picture'></div>
                    <div class="home_header">
                        <div class="home_reddit_robot"></div>
                        <div class="home_title_container">
                            <span class="home_title">Home</span>
                        </div>
                    </div>
                    <p class="home_content">Your personal Reddit frontpage. Come here to check in with your favorite communities.</p>
                    <div style="margin-top: 12px;">
                        <a href="#" class="home_create_button">Create Post</a>
                    </div>
                </div>
            </div>
                
            <!-- CODE FOR ADVERTISEMENT ITEM -->
            <div class="sidebar_item_layout">
                <div class="sidebar_item_container">
                    ADVERTISEMENT
                </div>
            </div>
                
            <!-- CODE FOR REDDIT PREMIUM ITEM -->
            <div class="sidebar_item_layout">
                <div class="sidebar_item_container">
                    <div class="flexbox-content" id='sidebar-premium'>
                        <div class="m-auto">
                            <i class="fas fa-shield-alt" id='sidebar-premium-icon'></i>
                        </div>
                        <div id='sidebar-premium-content'>
                            <h1>Reddit Premium</h1>
                            <p>The best Reddit experience, with monthly coins</p>
                        </div>
                        <div class="m-auto">
                            <button class="btn btn-sm btn-danger" id='sidebar-premium-button'>TRY NOW</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CODE FOR TRENDING COMMUNITIES ITEM -->                    
            <div class="sidebar_item_layout">
                <div class="sidebar_item_container">
                    <div class="communities_title_container">
                        <div style="padding: 12px 0;">trending communities</div>
                    </div>
                    <div style="padding: 12px;">
                        <div style="width: 100%;">
                            <div class="com_subreddit_container">
                                <div class="com_subreddit_content">
                                    <div style="flex: 0 0 0%;">
                                        <div class='com_subreddit_icon'>
                                            <i class="fab fa-reddit"></i>
                                        </div>
                                    </div>
                                    <div style="width: 100%; flex: 1 1 100%">
                                        <div style="padding-right: 8px;">
                                            <a href='#' class="com_subreddit_name">
                                                r/ThanksManagement
                                            </a>
                                            <div style="display: block;">
                                                <p class="com_subreddit_members">13.6k members</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="flex: 0 0 106px;">
                                        <button class="com_button_join">Join</button>
                                    </div>
                                </div>
                            </div>

                            <div class="com_subreddit_container">
                                <div class="com_subreddit_content">
                                    <div style="flex: 0 0 0%;">
                                        <div class='com_subreddit_icon'>
                                            <i class="fab fa-reddit"></i>
                                        </div>
                                    </div>
                                    <div style="width: 100%; flex: 1 1 100%">
                                        <div style="padding-right: 8px;">
                                            <a href='#' class="com_subreddit_name">
                                                r/15minutefood
                                            </a>
                                            <div style="display: block;">
                                                <p class="com_subreddit_members">42.3k members</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="flex: 0 0 106px;">
                                        <button class="com_button_join">Join</button>                                                </div>
                                    </div>
                                </div>

                                <div class="com_subreddit_container">
                                    <div class="com_subreddit_content">
                                        <div style="flex: 0 0 0%;">
                                            <div class='com_subreddit_icon'>
                                                <i class="fab fa-reddit"></i>
                                            </div>
                                        </div>
                                        <div style="width: 100%; flex: 1 1 100%">
                                            <div style="padding-right: 8px;">
                                                <a href='#' class="com_subreddit_name">
                                                    r/awwtf
                                                </a>
                                                <div style="display: block;">
                                                    <p class="com_subreddit_members">29.6k members</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="flex: 0 0 106px;">
                                            <button class="com_button_join">Join</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="com_subreddit_container">
                                    <div class="com_subreddit_content">
                                        <div style="flex: 0 0 0%;">
                                            <div class='com_subreddit_icon'>
                                                <i class="fab fa-reddit"></i>
                                            </div>
                                        </div>
                                        <div style="width: 100%; flex: 1 1 100%">
                                            <div style="padding-right: 8px;">
                                                <a href='#' class="com_subreddit_name">
                                                    r/dogsonroofs
                                                </a>
                                                <div style="display: block;">
                                                    <p class="com_subreddit_members">23.1k members</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="flex: 0 0 106px;">
                                            <button class="com_button_join">Join</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="com_subreddit_container">
                                    <div class="com_subreddit_content">
                                        <div style="flex: 0 0 0%;">
                                            <div class='com_subreddit_icon'>
                                                <i class="fab fa-reddit"></i>
                                            </div>
                                        </div>
                                        <div style="width: 100%; flex: 1 1 100%">
                                            <div style="padding-right: 8px;">
                                                <a href='#' class="com_subreddit_name">
                                                    r/NatureIsFuckingLit
                                                </a>
                                                <div style="display: block;">
                                                    <p class="com_subreddit_members">2.2m members</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="flex: 0 0 106px;">
                                            <button class="com_button_join">Join</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End of "sidebar_item_container" -->
                </div> 
                <!-- END OF TRENDING COMMUNITIES ITEM -->
                
                <!-- CODE FOR ADVERTISEMENT ITEM -->
                <div class="sidebar_item_layout">
                    <div class="sidebar_item_container">
                        ADVERTISEMENT
                    </div>
                </div>

                <!-- CODE FOR SITEMAP -->
                <div class="sidebar_item_layout">
                    <div class="sidebar_item_container">
                        <div class="sidebar_sitemap">
                            <div class="sitemap_column">
                                <div>
                                    <a href='#' class="sitemap_link">About</a>
                                    <a href="#" class="sitemap_link">Careers</a>
                                    <a href="#" class="sitemap_link">Press</a>
                                </div>
                            </div>
                            <div class="sitemap_column">
                                <div>
                                    <a href='#' class="sitemap_link">Advertise</a>
                                    <a href="#" class="sitemap_link">Blog</a>
                                    <a href="#" class="sitemap_link">Help</a>
                                </div>
                            </div>
                            <div class="sitemap_column">
                                <div>
                                    <a href='#' class="sitemap_link">The Reddit App</a>
                                    <a href="#" class="sitemap_link">Reddit Coins</a>
                                    <a href="#" class="sitemap_link">Reddit Premium</a>
                                    <a href="#" class="sitemap_link">Reddit Gifts</a>
                                </div>
                            </div>
                        </div>

                        <div class="sitemap_footer">
                            <div>
                                <a href="#" class="sidebar_footer_link">content policy</a>
                                <span>|</span>
                                <a href="#" class="sidebar_footer_link">privacy policy</a>
                            </div>
                            <div>
                                <a href="#" class="sidebar_footer_link">user agreement</a>
                                <span>|</span>
                                <a href="#" class="sidebar_footer_link">mod policy</a>
                            </div>
                            <div>© 2019 Reddit, Inc. All rights reserved</div>
                        </div>
                    </div>
                </div>
                <!-- END OF CODE FOR SITEMAP -->
            </div>
        </div>
        <!-- End of "reddit_sidebar" -->