<% include partials/header %>
<div style="background-color: white; margin-bottom: 15px; border-radius: 5px;">
    <div style="margin: 16px;">
        <form action="/reddit-posts" method="POST">
            <div>
                <textarea type="text" placeholder="Title" maxlength="300" class="new_post_textarea"></textarea>
            </div>
            <input type="text" placeholder="Text (optional)">
        </form>
    </div>
</div>

<% include partials/footer %>