<% include partials/header %>
<div style="background-color: white; margin-bottom: 15px; border-radius: 5px;">
    <div style="margin: 16px;">
        <form action="/reddit-posts" method="POST">
            <div>
                <textarea type="text" placeholder="Title" maxlength="300" class="new_post_title_textarea" style="height: 39px;"></textarea>
            </div>
            <div class="new_post_text_container">
                <input class="new_post_text_editor" type="text" placeholder="Text (optional)">
            </div>
        </form>
    </div>
</div>

<% include partials/footer %>