<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/reddit.css">
    </head>
    <body>
        <h1> This is the /reddit-posts page </h1>

        <% redditPosts.forEach((post) => { %>
            <div class="post">
                <!-- POST SHOULDER -->
                <div class="post_shoulder" style="width: 40px; border-left: 4px solid transparent;">
                    <div class="post_shoulder_content">
                        <button class="upvote">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                        <div class="post_votes" style="display: block; color: rgb(26, 26, 27);">
                            <%= post.upvotes %>                 
                        </div>
                        <button class="downvote">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    </div>
                </div>
                <!-- POST CONTENT -->
                <div class="post_content_container">
                    <article class="post_content">
                        <div class="post_content_text">
                            <div class="post_content_header">
                                <!-- CODE FOR THE SUBREDDIT ICON IN THE REDDIT POST HEADER-->
                                <div style="flex: 0 0 auto;">
                                    <a class="post_content_header_icon">
                                        <img class="subreddit_icon">
                                    </a>   
                                </div>
                                <!-- CODE FOR THE HEADER CONTAINING SUBREDDIT NAME POSTED BY USER -->
                                <div style="flex: 1 1 auto">
                                    <div class="post_content_header_text">
                                        <div style="display: inline-block; flex: 0 0 auto">
                                            <a class="subreddit_name" style="color: rgb(28, 28, 28);">
                                                <%= post.subredditName %>
                                            </a>
                                        </div>
                                        <span class="post_divider">•</span>
                                        <span class="posted_by">Posted by</span>
                                        <div style="display: inline-block">
                                            <a class="post_author">
                                                username;                           
                                            </a>
                                        </div>
                                        <a class="posted_date">
                                            timeSincePosting;
                                        </a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- CODE FOR THE POST TITLE -->
                            <div style="margin: 0px 8px; display: block;">
                                <span class="post_content_title_container">
                                    <a href="#" class="post_title_url">
                                        <h2 class="post_title">
                                            <%= post.title %>
                                        </h2>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>       
        <% }) %> 
    </body>
</html>
