body {
    background: #DAE0E6;
}
.container {
    max-width: 984px;
    padding-top: 10%
}

.fa-reddit {
    color: #ff4500;
}

@media only screen and (max-width: 600px){
    .sidebar-container {
        display: none;

    }
}

#posts {
    background: #ffffff;
}
 
#sidebar {
    background: #ffffff;
    
}