body {
    background: #DAE0E6;
}
.container {
    max-width: 984px;
    padding-top: 2%
}

.nav-container {
    max-width: 984px;
}
#top-nav {
    height: 48px;
    background: #ffffff;
}
#second-nav {
    height: 40px;
    border-top: 1px solid #DAE0E6;
    background: #ffffff;
}

.fa-reddit {
    color: #ff4500;
}

i {
    padding: 6px;
}

#nav-icons i {
    width: 32px;
    height: 32px;
    color: #1a1a1b;
    border-radius: 2px;
}

#nav-icons i:hover {
    width: 32px;
    height: 32px;
    background-color: rgba(26, 26, 27, 0.1);
    margin: auto;
}

.fa-edit {
    color: #0079D3 !important;
}

.dropdown {
    color: #1c1c1c;
    width: 270px;
    z-index: 1;
    border-radius: 4px;
    background: #ffffff;
}

#home-dropdown {
    width: 270px;
}

#profile-dropdown {
    width: 240px;
}

#nav1-dropdown {
    z-index: 2;
}
.dropdown:hover {
    border-color: #edeff1;
}

.dropdown-menu {
    border: none;
}

#navbarDropdownMenuLink {
    height: 36px;
}

@media only screen and (max-width: 600px){
    .sidebar-container {
        display: none;

    }
}
form .nav-item {
    max-width: 476px;
}

.post-action-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #878a8c
}

.post-action-icons a {
    color: #878a8c;

}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flexbox-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.flexbox-box {
    background: blue;
}

#nav-search {
    width: 315px;
    height: 36px;
    background-color: #f6f7f8;
    box-shadow: none;
    color: #1c1c1c;
    border-radius: 4px;
}

#nav-search:hover {
    border-color: #0079D3;
    color: #dbf0ff; 
}

#nav2-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

#profile-icons i {
    color: #878a8c
}


#post {
    width: 648px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    max-height: 600px;
}

#post-shoulder {
    width: 40px;
    background-color: #dbf0ff
}
#post-content {
    background-color: white;
    width: 608px;
    padding: 0px 8px 8px;
}

#sidebar-item {
    background-color: white;
    width: 312px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 12px;
    border-radius: 5px 5px 4px 4px;
}

.upvote, .downvote {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.upvote:hover {
    color: #ff0000;
}

.downvote:hover {
    color: #0079D3
}


